{% extends 'base.html' %}
{% block title %}
<title>CRUD</title>
{% endblock %}
{% load svg %}
{% block content %}  
{% include 'includes/nav.html' %}

<main class="contenedor">
    <div style="width: 200px;">
    <a href="{% url 'app:create' %}" class="btn svg btn-primary btn-margin">{% svg 'add'%} Add New Product</a>
    </div>
    <div>
        <table class="table">
            <thead class="table-dark ">
                <tr>
                    <th scope="row">Codigo</th>
                    <th scope="row">Descripcion</th>
                    <th scope="row">Fecha de Creacion</th>
                    <th scope="row">Categoria</th>
                    <th scope="row">Precio</th>
                    <th scope="row">Stock</th>
                    <th colspan="2" scope="row">Aciones</th>
                </tr>
            </thead>
            <tbody>
            {% for producto in productos %}
                <tr>
                    <td>{{producto.cod_product}}</td>
                    <td>{{producto.description}}</td>
                    <td>{{producto.create}}</td>
                    <td>{{producto.category}}</td>
                    <td>s/{{producto.price}}</td>
                    <td>{{producto.stock}}</td>
                    <td style="width: 30px;">
                        <a href="{% url 'app:update' producto.cod_product%}" class="btn btn-success svg">{% svg 'update'%}</a>
                    </td>
                    <td style="width: 30px;">
                        <a href="{% url 'app:delete' producto.cod_product%}" class="btn btn-danger svg">{% svg 'delete'%}</a>
                    </td>
                </tr>

            {% endfor %}
            </tbody>
        </table>  
    </div>
</main>
{% endblock %}
    

        