<html><body>
    <div>
        <a href="{% url 'app:create' %}">New Product</a>
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Descripcion</th>
                <th>Fecha de Creacion</th>
                <th>Categoria</th>
                <th>Precio</th>
                <th>Stock</th>
                <th colspan="2">Aciones</th>
            </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{producto.cod_product}}</td>
                <td>{{producto.description}}</td>
                <td>{{producto.create}}</td>
                <td>{{producto.category}}</td>
                <td>{{producto.price}}</td>
                <td>{{producto.stock}}</td>
                <td>
                    <a href="{% url 'app:update' producto.cod_product%}">Update</a>
                </td>
                <td>
                    <a href="{% url 'app:delete' producto.cod_product%}">Delete</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>
    </div>
</body></html>