
{% extends 'base.html' %}
{% load static %}
{% block title %}

<title>Home</title>
{% endblock %}

{% block content %}  

{% include 'includes/nav.html' %}


<main>
    <section class="main-index">
        <h2 class="TituloH2">Objetivos del Proyecto</h2>
        <div class="Galeria">
            <div class="galeria_img">
                <img src="{% static 'image/gl1.png' %}" alt="">
                <p>Crear una página web para la administración una base de datos.</p>
            </div>
            <div class="galeria_img">
                <img src="{% static 'image/gl2.jpg' %}" alt="">
                <p>Poder implementar el framework Django con exito</p>
            </div>
            <div class="galeria_img">
                <img src="{% static 'image/gl3.png' %}" alt="">
                <p>Crear, leer, actualizar y eliminar datos de una base de datos con Django</p>
            </div>
            <div class="galeria_img">
                <img src="{% static 'image/gl4.jpg' %}" alt="">
                <p>Sacarnos un 20</p>
            </div>
        </div>
    </section>
    <section class="contenedor_caracteristicas">
        <div class="contenedor2">
            <h2 class="TituloH2">Caracteristicas de la Base de Datos</h2>
            <h3 style="color: #2c698d;">Tema :</h3>
            <div class="con-carat">
                 
                <div class="parrafo">
                    <p>La Base de Datos tiene una temática acerca de la administración del inventario de productos de un supermercado y consta de los siguientes atributos:</p>
                    <lu>
                        <li>1.- Código identificador de los productos.</li>
                        <li>2.- Una breve descripción.</li>
                        <li>3.- La fecha de creación.</li>
                        <li>4.- La categoria.</li>
                        <li>5.- El Précio.</li>
                        <li>6.- El stock.</li>
                    </lu>
                    
                </div>
                <div class="img_referencial">
                    <img  src="{% static 'image/referencia1.jpg' %}">
                </div>
                <div class="img_referencial">
                    <img src="{% static 'image/referencia2.jpg' %}">
                </div>
                <div class="img_referencial">
                    <img src="{% static 'image/referencia3.jpg' %}">
                </div>

            </div>
        </div>
    </section>
    <section class="herramientas">
        <div class="contenedor3">
            <h2 class="TituloH2"> Herramienta Empleadas</h2>
            <div class="cont_herramientas">
                <div class="contenido">
                    <img id="imgif" src="{% static 'image/django.png' %}">
                    <div class="img_info">
                        <h4>Django</h4>
                        <p>Django es un framework de desarrollo web de código abierto, escrito en Python, que respeta el patrón de diseño conocido como modelo–vista–controlador.</p>
                    </div>
                </div>
                <div class="contenido">
                    <div class="cont_img">
                        <img src="{% static 'image/icon-boostrap.png' %}">
                    </div>
                    <div class="img_info">
                        <h4>Bootstrap</h4>
                        <p>Bootstrap es una biblioteca multiplataforma o conjunto de herramientas de código abierto para diseño de sitios y aplicaciones web</p>
                    </div>
                </div>
            </div>
        </div>

    </section>
</main>
{% endblock %}
{% load static %}
{% block javascript %}
    <script src="{% static 'js/app.js' %}"></script>
{% endblock javascript %}
        