
{% extends 'base.html' %}
{% block title %}
<title>Home</title>
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}  
<main class="contenedor-form">
    <div class="title-form-update">
        <h2>Update Product</h2>
    </div>
    <form method="POST" class="form-update" autocomplete="off">
        {% csrf_token %}

        {{update|crispy}}

        <div >
            <input type="submit" class="btn-input btn-success">
            <a href="{% url 'app:crud' %}" class="btn-input btn-danger">Cancelar</a>
        </div>

    </form>
</main>
{% endblock %}
    